<div class="user-details">
  <h1>Our Mission</h1>
  <p>
    Math to save the world!
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Machine Learning</h2> 
    <img src="assets/ML.jpg" width="300" height="220">
    <p>
      Having many years of experience solving various problems related to prediction, classification and data mining,
      we offer Machine Learning solutions for your business, inclusive Deep and Reinforcement Learning. Our expertise
      include wide range of data types, such as images, tables, times series or graphs.
    </p>
  </div>
  <div class="tech">
    <h2>Signal processing</h2>   
    <img src="assets/signal.jpg" width="300" height="220"> 
    <p>
      Signal evaluation, denoising, classification and presentation
    </p>
  </div>
  <div class="tech">
    <h2>Simulations</h2>
    <img src="assets/simulations.jpg" width="300" height="220">
    <p>
      Non-linear processes are very diffucult to tackle analytically and quickly 
      tend to be overwhelming when trying to understand them. Profound knowledge regarding statistical 
      process simulations (for example with Monte-Carlo methods) or finite element methods (FEM) allow 
      us to take on such challenges as well.</p>
  </div>
</div>
