<div class="user-details">
  <h1>Our Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Machine Learning</h2> 
    <img src="assets/ML.jpg" width="300" height="220">
    <p>We offer solutions based on machine learning techniques for various types of data: images, graphs, tables, language processing, etc; and for various tasks, such as prediction, classification and data mining</p>
  </div>
  <div class="tech">
    <h2>Signal processing</h2>   
    <img src="assets/signal.jpg" width="300" height="220"> 
    <p>We have a great experience with signal evaluation, denoising, classification and presentation</p>
  </div>
  <div class="tech">
    <h2>Simulations</h2>
    <img src="assets/simulations.jpg" width="300" height="220">
    <p>Non-linear processes are very diffucult to tackle analytically and quickly tend to be overwhelming when trying to understand them. Profound knowledge regarding statistical process simulations (for example with Monte-Carlo methods) or finite element methods (FEM) allow us to take on such challenges as well.</p>
  </div>
</div>
