<div class="user-details">
  <h1>Our Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Machine Learning</h2> 
    <p>We offer solutions based on machine learning techniques for various types of data: images, graphs, tables, language processing, etc; and for various tasks, such as prediction, classification and data mining</p>
  </div>
  <div class="tech">
    <h2>Signal processing</h2>    
    <p>We have a great experience with signal evaluation, denoising, interpretation and presentation</p>
  </div>
  <div class="tech">
    <h2>Simulations</h2>
    <p>Benni fuhl auf</p>
  </div>
</div>
